{% extends 'base.html' %}
{% block content %}


<h1>HOME PAGE</h1>
<img src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/google-medium/1f41d@2x.png">
<img src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/google-medium/1f41b@2x.png">
<img src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/google-medium/1f41c@2x.png">
<img src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/google-medium/1fab1@2x.png">
<img src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/google-medium/1f98b@2x.png">
<img src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/google-medium/1fab3@2x.png">
<img src="https://a.slack-edge.com/production-standard-emoji-assets/13.0/google-medium/1f41e@2x.png">



{% endblock %}
